@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px; /*940px ширина контейнеру + 2 падінги по 15рх, тому 970 рх*/
  padding: 0 15px;
  margin: 0 auto; /*центрувати контейнер*/
}

p {
  color: #6A859C;
  line-height: 1.8; 
  /*по макету line-height 25px і шрифт 14рх, щоб зробити більш гнучким висоту строки ділимо висоту на шрифт, і тепер якщо шрифт змінюється на 16рх то і висота буде підлаштовуватися. Тобто цей параметр стає грунким*/
}

.title-wrapper {
margin-bottom: 60px;
}

.title {
  margin-bottom: 17px;

  color: #676770;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.subtitle {
  color: #8E8E9C;
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
}  

.hide{
  display: none !important;
}

.common-section {
  text-align:center;
  padding: 80px 0;
}

.common-section--dark {
  background-color: #192024;
}

.common-section--dark * {
  color: #FFF;
}

.common-section--dark .subtitle{
  color: #E8E8E8;
}


/*-----------------HEADER-------------------*/

.header { 
  padding: 20px 0;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #69B9FF;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__nav ul{
  display: flex;
}

.header__nav li + li{
  margin-left: 40px;
}

.header__nav a {
  color: #676770;
  font-size: 16px;
  transition: color 0.2s;
}

.header__nav a:hover {
  color: #0082F3;
}

.header__nav a:active {
  color: #0074D8;
}


/*-----------------WELCOME-------------------*/
.welcome {
  min-height: 590px;
  /* height: 100vh; */
  padding: 195px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;

  background-color:#282936;
  background-image: url(/img/main_img.jpg);
  background-size:cover;
  background-position: center;
}

.welcome__heading {
  margin-bottom: 100px;
  font-size: 59px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.welcome__links * + * {
  margin-left: 20px;
}

.link-primary {
  padding: 11px 30px;
  display: inline-block;

  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #69B9FF;

  transition: background-color .1s ease-in-out;
}

.link-primary:hover {
  background-color: #7AC1FF;
}

.link-primary:active {
  background-color: #0080F0;
}

.link {
  padding: 10px 30px;
  display: inline-block;

  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 4px;
  border: 1px solid #FFF;

  transition: all .1s ease-in-out;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
}


/*-----------------ABOUT (WHAT WE DO)-------------------*/

.about .cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.about .card {
  padding: 35px 15px 20px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #DCEBF7;
}  

.about .card img{
  margin-bottom: 20px;
  width: 94px;
  height: 94px;
  object-fit: contain;
}

.about .card h4{
  margin-bottom: 15px;

  color: #676770;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
}


/*-----------------SERVICES-------------------*/

.services .cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.services .card {
  width: 45%;
}

.services .card img{
  margin-bottom: 20px;
}

.services .card h4{
  margin-bottom: 23px;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.services .link {
  margin-top: 17px;
}

/*-----------------TABS-------------------*/

.tabs_nav { 
  margin-bottom: 50px;
} 

.tabs_nav button { 
  padding: 1px 30px;

  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #92A0AD;
} 

.tabs_nav button.active {
  background: #2E80B6;
} 

.tabs_nav button + button{
  margin-left: 15px;
}

.tabs-item img {
  margin-bottom: 15px; 
} 

.tabs-item h4 {
  margin-bottom: 14px; 

  color: #676770;
  font-size: 31px;
  line-height: 1.2;
} 

.tabs_desc { 
  max-width: 758px;
  margin: auto;
} 


/*-----------------FOOTER -------------------*/

.footer__desc {
  padding: 35px 0;
}

.footer__desc h4{
  margin-bottom: 25px;

  color: #676770;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.footer__desc-container{
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.footer__desc-container > * {
width: 30%;
}

.footer__desc a{
  color: #668CAD;
  font-size: 14px;
  line-height: 20px;
}

.footer__desc li {
 height: 30px;

 position: relative;
}

.footer__desc li + li {
  margin-top: 6px;
}

.footer__desc li::before {
  content: "";
  width: 100%;
  height: 1px;

  position: absolute;
  right: 0;
  bottom: 0;

  background-color: #D5D5E0;
}

.footer__social li::before {
width: calc(100% - 34px);
}

.footer__social img{
  width: 20px;
  height: 20px;
  object-fit: contain;

  margin-right: 10px;
}

.footer__copy {
  padding: 40px 0;

  background-color: #383838;
  text-align: center;
}

.footer__copy p {
  color: #9E9E9E;
  font-size: 15px;
  line-height: 1.3;
}
